@import "reset.css";

/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-violet: #cc94fd;
  --color-dark-violet: #af53ff;
  --color-black: #000000;
  --color-dark-grey: #4d4d4d;
  --color-grey: #7c7979;
  --color-light-grey: #9b9999;
  --color-blue: #8692fc;
  --color-yellow: #fcedac;
  --color-orange: #ffcc6e;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-violet);
  color: var(--color-white);
  align-items: center;
  padding: 16px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
  margin-right: 9px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-violet);
}

/* Home */
#home {
  background: url("img/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 8px 12px;
  color: var(--color-white);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  border-radius: 50%;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  margin-bottom: 16px;
}

.major__icon,
.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-violet);
  transform: rotate(-30deg) scale(1.1);
}

.major__icon:hover {
  border: 1px solid var(--color-violet);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__title {
  margin-bottom: 16px;
}

.major__description {
  font-size: var(--font-small);
}

.school {
  display: flex;
  align-items: center;
}

.school__logo {
  width: 70px;
  height: 70px;
}

.school__description {
  margin: 0 16px;
  text-align: left;
  color: var(--color-dark-grey);
}

.school__name {
  margin: 8px 0;
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  margin-bottom: 18px;
  color: var(--color-light-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%;
}

.skill {
  margin-bottom: 32px;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_description:first-child {
  margin-bottom: 8px;
}

.sill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

.tools__list li,
.etc__list li {
  margin-bottom: 8px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-grey);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
  font-size: var(--font-regular);
  margin-bottom: 8px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  display: inline-block;
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

/* Contact */
#contact {
  background-color: var(--color-violet);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  margin: 24px 0;
  font-size: var(--font-large);
}

.contact__links i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}
